.div {
	background:#ffe;
	border: solid black 1px;
}

.bpm {
	border: solid #ccc 1px;
	padding: 2px;
	margin: 2px;
	background: #fffffe;
}
.bpm2 {
	@extend .bpm;
	background: #ffeffe;
}
.inline {
	display: inline-block;
}

.lrpad {
	padding-left: 1em;
	padding-right: 1em;
}

.lrmargin {
	margin-left: 1em;
	margin-right: 1em;

}

.lrboth  {
	@extend .lrmargin;
	@extend .lrpad;
}

.cname {
	@extend .inline;
	@extend .bpm;
	font-weight: bold;
	background: #ffffef;
}

.cabout {
	@extend .cname;
	background: #efffef;
	font-weight: regular;
	font-style: italic;
	color: #444;
}

.crow {
	@extend .bpm;
	background: #effeff;
}

.prewrap {
	background: #eff;
	margin: 2px;
	padding: 2px;
	border: solid #bbb 1px;
	white-space: pre-wrap;
}

.dlabel {
	font-weight: bold;
	background: #333;
	color: #ffe;
	text-align: center;
	border: solid #ccc 1px;
	margin: 2px;
	padding: 2px;

}

.fit {
	width: fit-content;
}

.databox {
	background: #fef;
	margin: 2px;
	padding: 2px;
	width: fit-content;
	border: solid #aaa 1px;
}

.MenuItem {
	@extend .inline;
	border: solid blue 1px;
	margin-left: 2em;
	margin-right: 2em;
	padding-left: 2em;
	padding-right: 2em;
	border-radius: .5em;
	background-color: #444;
	color: #ffe;
}
.MenuLink {
	color: #ffe;
}
.MenuLabel {
	color: #ffe;
}
.MenuWrapper {
	@extend .bpm;
	background: #aaa;
}

.PageWrapper {
	@extend .bpm;
}

.invert {
	background: black;
	color: white;
}

.unvert {
	background: white;
	color: black;
}

.invr {
	background: #400;
	color: #eef;
}

.invb {
	background: #004;
	color: #fee;
}

.border {
	border: solid #aaa 1px;
	border-radius: .5em;
}

.LabelRowWrapper {
	@extend .lrboth;
	@extend .border;
	background: #eff;


}

.ProjectLabelWrapper {
	@extend .LIWrapperBold;
}

.ProjectDateWrapper {
	@extend .LIWrapperItalic;
}

.LabelItemWrapper {
	@extend .inline;
	@extend .lrboth;
	@extend .border;
	background: #aaf;
}

.ProjectName {
	@extend .LabelItemWrapper;
}

.LIWrapperBold {
	@extend .LabelItemWrapper;
	font-weight: bold;
}

.LIWrapperItalic {
	@extend .LabelItemWrapper;
	font-style: italic;
}
