.div {
	background:#ffe;
	border: solid black 1px;
}

.bpm {
	border: solid #ccc 1px;
	padding: 2px;
	margin: 2px;
	background: #fffffe;
}
.bpm2 {
	@extend .bpm;
	background: #ffeffe;
}
.inline {
	display: inline-block;
}
.lrpadh {
	padding-left: .5em;
	padding-right: .5em;
}

.lrpad {
	padding-left: 1em;
	padding-right: 1em;
}

.lrmargin {
	margin-left: 1em;
	margin-right: 1em;

}

.lrboth  {
	@extend .lrmargin;
	@extend .lrpad;
}

.cname {
	@extend .inline;
	@extend .bpm;
	font-weight: bold;
	background: #ffffef;
}

.cabout {
	@extend .cname;
	background: #efffef;
	font-weight: regular;
	font-style: italic;
	color: #444;
}

.crow {
	@extend .bpm;
	background: #effeff;
}

.PageTitle {
	border: solid black 1px;
	text-align: center;
	font-size: xx-large;
	color: #400;
	padding: .5em;
	font-weight: bold;
	margin-bottom: 1em;
	background: #eee;
}

.RenderArrLabel {
	@extend .border;
	@extend .invert;
	font-size: x-large;
	font-weight: bold;
	margin-top: 2em;
	padding: 1em;
	text-align: center;
}

.prewrap {
	background: #eff;
	margin: 2px;
	padding: 2px;
	border: solid #bbb 1px;
	white-space: pre-wrap;
}

.dlabel {
	font-weight: bold;
	background: #333;
	color: #ffe;
	text-align: center;
	border: solid #ccc 1px;
	margin: 2px;
	padding: 2px;

}

.fit {
	width: fit-content;
}

.databox {
	background: #fef;
	margin: 2px;
	padding: 2px;
	width: fit-content;
	border: solid #aaa 1px;
}

.MenuItem {
	@extend .inline;
	border: solid blue 1px;
	margin-left: 2em;
	margin-right: 2em;
	padding-left: 2em;
	padding-right: 2em;
	border-radius: .5em;
	background-color: #444;
	color: #ffe;
}
.MenuLink {
	color: #ffe;
}
.MenuLabel {
	color: #ffe;
}
.MenuWrapper {
	@extend .bpm;
	background: #aaa;
}

.PageWrapper {
	@extend .bpm;
}

.invert {
	background: black;
	color: white;
}

.unvert {
	background: white;
	color: black;
}

.invr {
	background: #400;
	color: #eef;
}

.invb {
	background: #004;
	color: #fee;
}

.border {
	border: solid #aaa 1px;
	//border-radius: .5em;
}

.LabelRowWrapper {
	@extend .lrboth;
	@extend .border;
	@extend .inline;
	background: #eff;


}

.ReqRowWrapper {
	@extend .LabelRowWrapper;
	@extend .inline;
	padding:2px;
	display: inline-block;
	border: solid #aaa 1px;
}

.ReqLabelWrapper {
	@extend .LabelLabelWrapper;
	@extend .inline;
	@extend .invert;
	@extend .lrpadh;
	width: 10em;
	/*
	display: inline-block;
	background: blue;
	*/
}
.ReqDataWrapper {
	@extend .inline;
	@extend .border;
	@extend .lrpadh;
	width: 10em;
	/*
	background: red;
	display: inline-block;
	*/
}

.tac {
	text-align: center;
}

@mixin mk-widths () {
  @for $i from 1 through 50 {
    .w#{$i} { width: #{$i}em; }
  }
}

@include mk-widths;



.ReqRowGrid {
	display: grid;
	grid-template-columns: 1fr 1fr; 
}

.RequirementWrapper {
	@extend .databox;
}

.SigniflyerWrapper {
	@extend .RequirementWrapper;
}

.DataItemWrapper {
	@extend .invert;
	@extend .inline;
}

.isFilled {
	@extend .inline;
	@extend .border;
	@extend .lrpad;
	border: solid  #444 1px;

	
	background: white;
	color: black;
	font-weight:bold,
}

.isNotFilled {
	@extend .isFilled;
	background: red;
}

.AboutData {
	max-height: 3em;
	overflow: hidden;
}

.Icon {
	max-width: 100px;
	max-height: 100px;
	object-fit: contain;
}

.ProjectLabelWrapper {
	@extend .LIWrapperBold;
}

.ProjectDateWrapper {
	@extend .LIWrapperItalic;
}

.LabelLabelWrapper {
	@extend .LabelItemWrapper;
	background: #eff;
}

.LabelItemWrapper {
	@extend .inline;
	//@extend .lrboth;
	@extend .border;
	background: #aaf;
}

.ProjectName {
	@extend .LabelItemWrapper;
}

.LIWrapperBold {
	@extend .LabelItemWrapper;
	font-weight: bold;
}

.LIWrapperItalic {
	@extend .LabelItemWrapper;
	font-style: italic;
}
